parameters:

	# This should not be here, but I have no time to fix it now.
	# It fails on exhausted max memory
	excludes_analyse:
		- src/TwigYard/Component/Application.php

	# This should not be here, but I have no time to fix it now.
	checkMissingIterableValueType: false

	bootstrap: null
	fileExtensions:
		- php
	checkFunctionArgumentTypes: true
	checkNullables: true
	checkUnionTypes: true
	polluteScopeWithLoopInitialAssignments: true
	polluteCatchScopeWithTryAssignments: true
	ignoreErrors: []
	reportUnmatchedIgnoredErrors: true
	universalObjectCratesClasses:
		- stdClass
		- SimpleXMLElement
	earlyTerminatingMethodCalls: []
	memoryLimitFile: %tmpDir%/.memory_limit
